.App {
  text-align: center;
  padding-top: 30px;
}

.temperature-container {
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.fa-repeat {
  font-size: 25px;
  cursor: pointer;
}

.temperature-container .repeat-arrow {
  display: flex;
  align-items: flex-end;
}